%Ubuntu-500 {
    font-family: 'Ubuntu-Medium';
    font-weight: 500;
}

%Ubuntu-700 {
    font-family: 'Ubuntu-Medium';
    font-weight: 700;
}

%Ubuntu-400 {
    font-family: 'Ubuntu-Medium';
    font-weight: 400;
}

%title {
    font-weight: bold;
    font-size: 72px;
    line-height: 120%;
    text-transform: uppercase;
    margin-top: 150px;
}